:root {
	font-family: "Open Sans", sans-serif, arial;
	background-color:  rgba(0, 0, 0, 0.8);
	color:  white;
}

* {
	box-sizing:  border-box;
}

*::before,
*::after {
	box-sizing:  inherit;
}

body {
	height:  100vh;
	margin:  0;
}

main {
	padding:  40px;
}

/* A partir de acá los estilos que nos interesa */

.msg {
	--size:  300px;
	--border-radius:  15px;
	--fondo:  #d0d0d0;
	--fondo-interno: rgba(255, 255, 255, 0.6);

	position:  relative;
	background-color:  var(--fondo);

	width:  var(--size);
	min-height:  calc(var(--size) / 4);

	display:  flex;
	align-items: center;
	padding:  15px;

	border-radius:  var(--border-radius) 0 var(--border-radius) var(--border-radius);
	gap:  10px;

	color: #303030;
	transition: 300ms ease;
}

.msg:hover {
	background-color: white;
}

.msg hr {
	border-bottom:  1px solid black;
}

.msg::after {
	--size:  13px;
	--width: calc(var(--size) / 1.5);
	--border-radius:  2px;

	content:  "";
	display:  block;
	position:  absolute;
	left:  auto;
	top:  0;
	right:  calc(var(--width) * (-1) + var(--border-radius));
	bottom:  auto;

	background-color:  inherit;
	background-image:  inherit;

	width: var(--width);
	height:  var(--size);

	border-radius:  var(--border-radius);

	/* Aquí es donde está lo interesante */
	clip-path:  polygon(0 0, 100% 0, 100% var(--border-radius), 0 100%);
}

.msg__profile {
	--size:  40px;

	background-color:  var(--fondo-interno);
	width:  var(--size);
	height: var(--size);
	border-radius:  calc(var(--size) / 2);
}

.msg__bar {
	flex-grow: 1;
	height:  25px;
	background-color:  var(--fondo-interno);
	border-radius:  10px;
}

hr {
	border:  0;
	border-bottom: 1px solid silver;
	margin:  20px auto;
}

.telefono {
	--fondo:  #f0f0f0;
	width:  max-content;
	min-height:  200px;
	border-radius:  15px;
	margin:  0 auto;

	position: relative;

	box-shadow:  0 0 5px rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.telefono__pantalla {
	position: relative;

	--size:  350px;

	width: var(--size);
	height:  calc(var(--size) * (16/9));

	background-color: gray;
	overflow:  hidden;
	border-left: 1px solid rgba(0, 0, 0, 1);
	border-right:  1px solid rgba(0, 0, 0, 1);
	background-image:  linear-gradient(-60deg, rgba(255, 255, 255, 0.1) 50%, transparent 51%);
	background-color: black;
}

.telefono__pantalla__decoracion {
	position: absolute;
	margin:  auto;
	left:  0; right:  0;
	top:  0; bottom:  0;
	pointer-events: none;
	background-image:  linear-gradient(-60deg, rgba(0, 0, 0, 0.07) 50%, transparent 10%);
	z-index: 10;
}

.telefono__pantalla::before,
.telefono__pantalla::after,
.telefono__sensores::before,
.telefono__sensores::after,
.telefono__menu::before,
.telefono__menu::after {
	--size:  10px;

	content:  "";
	position: absolute;
	margin:  auto;
	top:  0; bottom:  0;

	width: var(--size);
	z-index:  2;
}

.telefono__pantalla::before,
.telefono__sensores::before,
.telefono__menu::before {
	left:  0;
	right:  auto;

	background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
}

.telefono__pantalla::after,
.telefono__sensores::after,
.telefono__menu::after {
	left:  auto;
	right:  0;

	background-image:  linear-gradient(to left, rgba(0, 0, 0, 0.6), transparent);
}


.telefono__pantalla iframe {
	display:  block;
	position:  absolute;
	margin:  auto;
	left:  0; right:  0;
	top:  0; bottom:  0;

	width:  100%;
	height:  100%;

	/*display:  none;*/
}

.telefono__sensores {
	min-height:  40px;
	position:  relative;
	display:  flex;
	justify-content:  space-around;
	align-items:  center;

	border-radius:  15px 15px 0 0;

	--size:  15px;
	overflow:  hidden;
	background-color:  var(--fondo);
	background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent);
}

.telefono__sensores::before {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.telefono__sensores::after {
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.telefono__sensor,
.telefono__altavoz,
.telefono__camara {
	--size:  10px;

	background-color:  black;

	display:  flex;
	align-items:  center;
	justify-content: center;
}

.telefono__sensor::before,
.telefono__camara::before {
	content:  "";
	width: 50%;
	height: 50%;
	border-radius:  50%;
	background-color:  rgba(255, 0, 0, 0.3);
}
.telefono__sensor {
	width:  var(--size);
	height:  var(--size);
	border-radius:  50%;
}

.telefono__altavoz {
	--size-height: calc(var(--size) / 1.3);

	width:  calc(var(--size) * 4);
	height: var(--size-height);
	border-radius: calc(var(--size-height) / 2);

	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
}

.telefono__camara {
	width:  calc(var(--size) * 1.4);
	height:  calc(var(--size) * 1.4);
	border-radius:  50%;
}

.telefono__menu {
	min-height:  50px;
	display:  flex;
	justify-content: space-around;
	align-items:  center;
	position:  relative;
	overflow:  hidden;
	border-radius: 0 0 15px 15px;
	background-color: var(--fondo);
	border-top: 1px solid black;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
}

.telefono__menu::before {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.telefono__menu::after {
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.telefono__menu__item {
	--size:  10px;

	width:  var(--size);
	height:  var(--size);
	border-radius:  50%;

	flex-grow:  0;
	position:  relative;

	background-color:  black;
}

.telefono__menu__item:nth-of-type(2) {
	width: calc(var(--size) * 2);
	height: calc(var(--size) * 2);
}

.telefono__menu__item:nth-of-type(2)::before {
	content: "";
	display:  block;
	position: absolute;
	margin:  auto;
	left:  0; right:  0;
	top:  0; bottom:  0;
	border:  2px solid rgba(255, 255, 255, 0.5);
	border-radius:  50%;

	width:  50%;
	height:  50%;
}

.telefono__controles {
	--size:  4px;

	border-radius:  0 calc(var(--size) / 2) calc(var(--size) / 2) 0;
	width: var(--size);
	min-height: 30px;

	position:  absolute;
	margin:  auto;
	left:  auto;
	right: calc(var(--size) * -1);
	top: 15%;
	bottom:  auto;

	z-index: 1;
}

.telefono__volumen-arriba,
.telefono__volumen-abajo,
.telefono__encender {
	--size:  4px;

	width: var(--size);
	min-height:  40px;
	background-color:  silver;
	/*box-shadow:  4px 4px 0 0 rgba(0, 0, 0, 0.1);*/
	border-radius: 4px;

}

.telefono__volumen-arriba {
	margin-bottom:  3px;
}

.telefono__encender {
	margin-top:  15px;
}